name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Set up Go 1.22
        uses: actions/setup-go@v2
        with:
          go-version: 1.22
#----------------------------------------------------------------------
      - name: Install dependencies for auth-service
        run: |
          cd auth-service
          go mod download
  
      - name: Run tests for auth-service
        run: |
          cd auth-service/tests
          go test ./...
#----------------------------------------------------------------------
      - name: Install dependencies for task-service
        run: |
          cd task-service
          go mod download

      - name: Run tests for task-service
        run: |
          cd task-service/tests
          go test ./...
#----------------------------------------------------------------------      

  build_and_push:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push auth-service
        uses: docker/build-push-action@v2
        with:
          context: ./auth-service
          file: ./auth-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hse_auth-service

      - name: Build and push task-service
        uses: docker/build-push-action@v2
        with:
          context: ./task-service
          file: ./task-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hse_task-service

  deploy:
      runs-on: ubuntu-latest
      needs: build_and_push
      steps:
        - name: Checkout master
          uses: actions/checkout@v2

        - name: Install SSH Key
          uses: shimataro/ssh-key-action@v2
          with:
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            known_hosts: ${{ secrets.SERVER_IP }}

        - name: Deploy to server
          run: |
            ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "docker pull ${{ secrets.DOCKER_USERNAME }}/auth-service:latest"
            ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "docker pull ${{ secrets.DOCKER_USERNAME }}/task-service:latest"
            ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "docker-compose -f docker-compose.yml down"
            ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "docker-compose -f docker-compose.yml up -d"