name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Set up Go 1.22
        uses: actions/setup-go@v2
        with:
          go-version: 1.22
#----------------------------------------------------------------------
      - name: Install dependencies for auth-service
        run: |
          cd Lab_Work_5/auth-service
          go mod download
  
      - name: Run tests for auth-service
        run: |
          cd Lab_Work_5/auth-service/tests
          go test ./...
#----------------------------------------------------------------------
      - name: Install dependencies for task-service
        run: |
          cd Lab_Work_5/task-service
          go mod download

      - name: Run tests for task-service
        run: |
          cd Lab_Work_5/task-service/tests
          go test ./...
#----------------------------------------------------------------------      

  build_and_push:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push auth-service
        uses: docker/build-push-action@v2
        with:
          context: Lab_Work_5/auth-service
          file: Lab_Work_5/auth-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hse_auth-service

      - name: Build and push task-service
        uses: docker/build-push-action@v2
        with:
          context: Lab_Work_5/task-service
          file: Lab_Work_5/task-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hse_task-service

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Connect to server
        run: |
          echo << EOF
          ${{ secrets.SSH_PRIVATE_KEY }}
          EOF > key
          ssh ${{ secrets.SERVER_USER }}@${{secrets.SERVER_IP}} -i key << EOF
          EOF
      - name: Open folder with docker compose file 
        run: cd ~/hse_micro_services
      - name: Down docker containers
        run: sudo docker-compose down
      - name: Pull and up docker containers
        run: |        
          sudo docker-compose pull
          sudo docker-compose up -d
